@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
  font-style: normal;
}
