$background-image: url("../../assets/images/hero-bio.jpg");
$showsbio-image: url("../../assets/images/hero-shows.jpg");

$margin: 1rem;
$padding: 1rem;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
